
.content.content_gray
  .max_width
    h5 Praised store
    h1 寵物店
    h1.small_english Pets Shop
    
    .title_hr
    h5 Popular Pets
    //- .commodity
    //-   .commodity_name dog
    //- img.icon(src="https://i.imgur.com/e9jx6Ov.png", alt="").product_name(data-cata="dog")
    .commodity
      .commodity_name dog
      img.icon(src="https://i.imgur.com/e9jx6Ov.png", alt="").product_name(data-cata="dog")
    .commodity
      .commodity_name rabbit
      img.icon(src="https://i.imgur.com/4hDNSoN.png", alt="").product_name(data-cata="rabbit")
    .commodity
      .commodity_name cat
      .cat
        img.icon(src="https://i.imgur.com/7sm5i2Z.png", alt="").product_name(data-cata="cat")
    .commodity
      .commodity_name pig
      img.icon(src="https://i.imgur.com/zJOH7yY.png", alt="").product_name(data-cata="pig")

    h5.show_cata BUY
    .button.button_blue 下訂單
    .button.button_yellow 購物車
  
